
/* Two column layout */
.slide.two-columns-title {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  /* Vertical Centering */
  align-content: center;      /* Centers the entire grid group vertically */

  --slide-title-font-size: var(--slide-titleonly-font-size);
}

.slide.two-columns-title .slot-left-column {
  align-content: center;
}

.slide.two-columns-title .slot-title {
  font-size: var(--slide-title-font-size);
}
.slide.two-columns-title .slot-content {
  font-size: var(--slide-subtitle-font-size);
}

.slide.two-columns-title .slot-column {
  overflow: auto;
  min-height: 0;
  min-width: 0;
}

/* Two column ratio variants */
.slide.two-columns-title.ratio-1-1 {
    grid-template-columns: 1fr 1fr;
}

.slide.two-columns-title.ratio-1-2 {
  grid-template-columns: 1fr 2fr;
}

.slide.two-columns-title.ratio-2-1 {
  grid-template-columns: 2fr 1fr;
}

.slide.two-columns-title.ratio-1-3 {
  grid-template-columns: 1fr 3fr;
}

.slide.two-columns-title.ratio-3-1 {
  grid-template-columns: 3fr 1fr;
}
