.bespoke-parent {
    --slide-ratio: calc(16 / 9);
    /*--slide-ratio: calc(4 / 3);*/
    --slide-width: 1280px;
}

:root {
    /*  Typographie */
    --default-font-family: sans-serif;

    /*  Tailles de police */
    --default-font-size: 3vh;

    /*  Slides */
    --slide-padding: 4vh;
    --slide-text-color: black;
    --slide-background-color: white;
    --slide-content-gap: 4vh;
    --slide-font-family: var(--default-font-family);
    --slide-font-weight: 400;
    --slide-font-size: var(--default-font-size);

    --slide-titleonly-font-family: var(--default-font-family);
    --slide-titleonly-color: black;
    --slide-titleonly-font-weight: 800;
    --slide-titleonly-font-size: 10vh;

    --slide-title-font-family: var(--default-font-family);
    --slide-title-color: black;
    --slide-title-font-weight: 800;
    --slide-title-font-size: 6vh;

    --slide-subtitle-font-family: var(--default-font-family);
    --slide-subtitle-color: black;
    --slide-subtitle-font-weight: 600;
    --slide-subtitle-font-size: 5vh;
    --slide-subtitle-line-height: 1.5;

    --code-font-size: 1vh;
    --list-gap: 4vh;
}


