@import url("./normalize.css");

@import url("./deck/deck.css");
@import url("./slide/slide.css");
@import url("./blocks/progress.css");
@import url("./bullets/bullets.css");

@import url("./speaker/speaker.css");

@import url("./debug.css");
