/* Progress */

.slide-number .slide-index {
    content: var(--deck-slide-index);
}
.slide-number .slides-count {
    content: var(--deck-slides-count);
}
.progress-bar {
    width: var(--deck-progress);
}

.progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: var(--progress-size);
    overflow: hidden;
    transition: all 0.2s linear;
}

.progress-bar::before {
    display: block;
    width: 100%;
    height: var(--progress-size);
    background-color: var(--color-blue);
    content: '';
    transform-origin: 0 100%;
    transform: skewX(45deg);
}

.progress-bar[style*='100%']::before {
    transform: none;
}

/* List */

.slides.list .progress-bar {
    display: none;
}

/* Full */

.slides.full .progress-bar {
    display: block;
}

/* Print */

@media print {
    .slides.list .progress-bar,
    .slides.full .progress-bar {
        display: none;
    }
}
