/* Shower */

@import './deck-full.css' screen;
@import './deck-list.css' screen;
@import './deck-pointless.css' screen;
@import './deck-grid.css' screen;
@import './deck-print.css' print;
@import './deck-editor.css' screen;

.bespoke-parent {
    --slide-gap: 100px;
    /*--slide-ratio: calc(16 / 9);*/
    --slide-ratio: calc(4 / 3);
    --slide-width: 1024px;
    --slide-height: calc(
        var(--slide-width) / var(--slide-ratio)
    );
    --slide-side: 100px;

    --progress-size: 10px;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;

    margin: 0;
    counter-reset: slide;
}
