<div class="slot-title">
    <!-- slot=title -->
    <!-- slot=subtitle -->
</div>
<div class="slot-content">
    <div class="slot-cell slot-top-left-cell">
        <!-- slot=top-left-cell -->
        <!-- slot=default -->
    </div>
    <div class="slot-cell slot-bottom-left-cell">
        <!-- slot=bottom-left-cell -->
    </div>
    <div class="slot-cell slot-bottom-right-cell">
        <!-- slot=bottom-right-cell -->
    </div>
    <div class="slot-cell slot-bottom-right-cell">
        <!-- slot=bottom-right-cell -->
    </div>
</div>
