/* Types */


@import './slide-list.css' screen;
@import './slide-full.css' screen;

/* Slide */

/*.slides {*/
/*    --slide-ratio: calc(16 / 9);*/
/*}*/

.slide {
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: var(--slide-width);
    height: var(--slide-height);
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

